
# Ignore environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/

# Other sensitive files you don't want to push to GitHub
config.json
